.input-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0px;
}

input[type=file]::-webkit-file-upload-button {
  background-color: #64c782;
  border: none;
  color: white;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
}

input[type=file]::file-selector-button {
  background-color: #64c782;
  border: none;
  color: white;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.table {
  width: 70%;
  border: 1px solid rgb(165, 165, 165);
}
.table th {
  background-color: rgb(165, 165, 165);
  border: 1px solid rgb(27, 25, 25);
}
.table td {
  border: 1px solid rgb(0, 0, 0);
}

.text-right {
  text-align: right;
}